<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Operator</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Manage Operator</a></li>
        <li class="active">User Form</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-danger">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${operator}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Prefix*</label>
                            <label id="id" style="display:none;" th:field="*{id}"></label>
                            <input type="hidden" th:field="*{version}"/>
                            <input id="prefix" type="text" th:field="*{prefix}" placeholder="Prefix"
                                   class="form-control client-form"/>
                            <label class="control-label error-label" th:errors="*{prefix}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Operator Name</label>
                            <select id="role" class="form-control" th:field="*{operatorName}">
                                <option value="TSEL">TSEL</option>
                                <option value="ISAT">ISAT</option>
                                <option value="XL">XL</option>
                                <option value="THREE">THREE</option>
                                <option value="SMART">SMART</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label>*Required</label></div>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/operator/list}" class="btn btn-default" role="button">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
</body>
</html>