<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>User</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Manage Users</a></li>
        <li class="active">User Form</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-danger">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${user}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Username*</label>
                            <label id="id" style="display:none;" th:field="*{id}"></label>
                            <input type="hidden" th:field="*{version}"/>
                            <input id="username" type="text" th:field="*{username}" placeholder="Username"
                                   class="form-control client-form"/>
                            <label class="control-label error-label" th:errors="*{username}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="password" type="password" th:field="*{password}" placeholder="Password"
                                   class="form-control client-form"/>
                            <label class="control-label error-label" th:errors="*{password}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Retype Password (if you want to save/update password)</label>
                            <input id="retypePassword" type="password" th:field="*{retypePassword}"
                                   placeholder="Retype Password" class="form-control client-form"/>
                            <label class="control-label error-label" th:if="${errorRetype}!=null"
                                   th:text="${errorRetype}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select id="role" class="form-control" th:field="*{role}">
                                <option value="1">User</option>
                                <option value="2">Admin</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label>*Required</label></div>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/client/user/list}" class="btn btn-default" role="button">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
</body>
</html>