<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Users List</title>
    <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Are you sure to delete the data?'))
                            return true;
                        return false;
                    });
                });
            });

    </script>

    <style>
            .noWrapColumn{
                white-space: nowrap !important;
            }

    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        Users List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li class="active">Manage Users</li>
    </ol>
</div>
<div layout:fragment="content">
    <hr style="margin:0 0 5px 0;border-color:#d2d6de;"/>
    <div class="row">
        <div class="col-md-8">
            <a class="box-title btn btn-danger btn-flat pull-left" th:href="@{/users/form}">Add User</a>
        </div>
        <div class="col-md-4">
            <form th:action="@{/users/list}" method="get">
                <div class="input-group input-group-sm">
                    <input type="text" name="value" class="form-control " placeholder="Search By Username"
                           th:if="${key} == null"/>
                    <input type="text" name="value" class="form-control " placeholder="Search By Username"
                           th:if="${key} != null" th:value="${key}"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr style="margin:5px 0 5px 0;border-color:#d2d6de;"/>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="client-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:each="user :${userList}">
                            <td class="noWrapColumn" th:text="${user.id}"></td>
                            <td class="noWrapColumn" th:text="${user.username}"></td>
                            <div th:switch="${user.role}">
                                <td class="noWrapColumn" th:case="'1'" th:text="User"></td>
                                <td class="noWrapColumn" th:case="'2'" th:text="Admin"></td>
                            </div>
                            <td class="noWrapColumn text-center">
                                <a class="btn btn-warning" th:href="@{/users/form(id=${user.id})}" title="edit user id"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger remove-data" th:href="@{/users/delete(id=${user.id})}"
                                   title="delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div th:if="${not #lists.isEmpty(userList)}">
                        <div class="text-center">
                            <nav>
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--/.col (left) -->
    <!-- right column -->
</div>
</body>
</html>