<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Sms Dashboard</title>

    <script language="JavaScript">

        function get_ticket_sum(){

            $.get( "/dashboard/ticket_sum", function( data ) {
                $('#today_ticket').text(data.countTicketNum);
                $('#answered_yes').text(data.answeredYes);
                $('#answered_no').text(data.answeredNo);
                $('#no_response').text(data.noResponse);
            },"json");

        }


        function get_today_report(){

            $.get( "/dashboard/today_report", function( data ) {

                var trHTML = '';

                var total = 0;

                $.each(data, function(i, element){

                    total = element.smsOpen +  element.labAssign + element.resolved + element.smsGamasOpen + element.smsGamasClose + element.smsOthers;

                    trHTML = trHTML + '<tr><td>'+element.operator+'</td>';
                    trHTML = trHTML + '<td>'+element.smsOpen+'</td>';
                    trHTML = trHTML + '<td>'+element.labAssign+'</td>';
                    trHTML = trHTML + '<td>'+element.resolved+'</td>';
                    trHTML = trHTML + '<td>'+element.smsGamasOpen+'</td>';
                    trHTML = trHTML + '<td>'+element.smsGamasClose+'</td>';
                    trHTML = trHTML + '<td>'+element.smsOthers+'</td>';
                    trHTML = trHTML + '<td>'+total+'</td></tr>';


                });


                $('#tbody-today-report').html(trHTML);


            },"json");


        }


        function get_month_report(){

            $.get( "/dashboard/month_report", function( data ) {

                var trHTML = '';

                var total = 0;

                $.each(data, function(i, element){

                    total = element.smsOpen +  element.labAssign + element.resolved + element.smsGamasOpen + element.smsGamasClose + element.smsOthers;

                    trHTML = trHTML + '<tr><td>'+element.operator+'</td>';
                    trHTML = trHTML + '<td>'+element.smsOpen+'</td>';
                    trHTML = trHTML + '<td>'+element.labAssign+'</td>';
                    trHTML = trHTML + '<td>'+element.resolved+'</td>';
                    trHTML = trHTML + '<td>'+element.smsGamasOpen+'</td>';
                    trHTML = trHTML + '<td>'+element.smsGamasClose+'</td>';
                    trHTML = trHTML + '<td>'+element.smsOthers+'</td>';
                    trHTML = trHTML + '<td>'+total+'</td></tr>';


                });


                $('#tbody-month-report').html(trHTML);


            },"json");


        }


        function load_data(){

            get_ticket_sum();

            get_today_report();

            get_month_report();

        }




         $(document).ready(function () {

            load_data();

            setInterval(function(){ load_data() }, 30000);

        });

    </script>


</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        Dashboard
        <a th:href="@{/dashboard/ticket_sum/download}" class="col-sm-1 box-title btn btn-default btn-flat pull-right">Download</a>
    </h1>

</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><span id="today_ticket">0</span></h3>

                    <p>Today Ticket</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-pricetags-outline"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><span id="answered_yes">0</span></h3>

                    <p>Today Answered Yes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-thumbsup"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3><span id="answered_no">0</span></h3>

                    <p>Today Answered No</p>
                </div>
                <div class="icon">
                    <i class="ion ion-thumbsdown"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><span id="no_response">0</span></h3>

                    <p>Today No Answer</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-help-outline"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <div class="box-header with-border">
                    <h3 class="box-title">Today SMS Report</h3>
                    <a th:href="@{/dashboard/today_report/download}"
                       class="col-sm-2 box-title btn btn-danger btn-flat pull-right">Download</a>

                </div>

                <div class="box-body">
                    <table id="today-report" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Operator</th>
                            <th>SMS Open</th>
                            <th>Lab Assign</th>
                            <th>SMS Resolved</th>
                            <th>Gamas Open</th>
                            <th>Gamas Close</th>
                            <th>Lain-lain</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-today-report">
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <div class="box-header with-border">
                    <h3 class="box-title">Month To Day SMS Report</h3>
                    <a th:href="@{/dashboard/month_report/download}"
                       class="col-sm-2 box-title btn btn-danger btn-flat pull-right">Download</a>

                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Operator</th>
                            <th>SMS Open</th>
                            <th>Lab Assign</th>
                            <th>SMS Resolved</th>
                            <th>Gamas Open</th>
                            <th>Gamas Close</th>
                            <th>Lain-lain</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-month-report">

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>

            </div>
        </div>

    </div>

</div>
</body>
</html>