<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">SMS CRM Telkom</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="#" th:href="@{/css/select2.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/select2-bootstrap.min.css}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css"/>
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>


    <!--Bootstrap Select-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="#" th:src="@{/js/app.min.js}"></script>
    <script src="#" th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script src="#" th:src="@{/js/select2.full.min.js}"></script>
    <script src="#" th:src="@{/js/region.js}"></script>

    <script type="text/javascript">
        /*    $(document).ready(function () {
                var menudd = Cookies.get('menu-dd');

                if (menudd != null) {
                    $("#" + menudd).addClass("active");
                } else {
                    Cookies.set('menu-dd', "user");
                }

                $(".treeview").each(function () {
                    $(this).click(function () {
                        $(this.id).addClass("active");
                        $("#" + Cookies.get('menu-dd')).removeClass("active");
                        Cookies.set('menu-dd', this.id);
                    });
                });
            }); */

    </script>
</head>
<body class="hold-transition skin-red-light sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S</b>MS</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SMS</b>CENTER</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/img/avatar5.png}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p><span sec:authentication="name"> </span></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> <span
                            sec:authentication="principal.authorities"></span></a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">PT TELEKOMUNIKASI INDONESIA</li>
                <li><a href="dashboard" onclick="menuFunction(this);return false;"><i class="fa fa-dashboard"></i>
                    <span>Dashboard</span></a></li>
                <li id="sum_report" class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart"></i> <span>Summary Report</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> Active Resolved
                            Ticket</a></li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> Archive
                            Resolved Ticket</a></li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> SMS Open</a>
                        </li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> SMS Lab Assign</a>
                        </li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> SMS Gamas Open</a>
                        </li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> SMS Gamas Close</a>
                        </li>
                        <li><a onclick="menuFunction(this);return false;"><i class="fa fa-circle-o"></i> SMS Others</a>
                        </li>
                        <li><a th:href="@{/traffic/list}"><i class="fa fa-circle-o"></i> Received Cust Closing</a></li>
                        <li id=""><a href="report_summary" onclick="menuFunction(this);return false;"><i
                                class="fa fa-circle-o"></i> All Log Received</a></li>
                    </ul>
                </li>
                <li id="report" class="treeview">
                    <a href="#">
                        <i class="fa fa-file-excel-o"></i> <span>Detail Report</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a><i class="fa fa-circle-o"></i> Active Resolved Ticket</a></li>
                        <li><a><i class="fa fa-circle-o"></i> Archive Resolved Ticket</a></li>
                        <li><a><i class="fa fa-circle-o"></i> SMS Open</a></li>
                        <li><a><i class="fa fa-circle-o"></i> SMS Lab Assign</a></li>
                        <li><a><i class="fa fa-circle-o"></i> SMS Gamas Open</a></li>
                        <li><a><i class="fa fa-circle-o"></i> SMS Gamas Close</a></li>
                        <li><a><i class="fa fa-circle-o"></i> SMS Others</a></li>
                        <li><a th:href="@{/traffic/list}"><i class="fa fa-circle-o"></i> Received Cust Closing</a></li>
                        <li id="report_summary"><a href="report_summary" onclick="menuFunction(this);return false;"><i
                                class="fa fa-circle-o"></i> All Log Received</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/users/list}"><i class="fa fa-users"></i>
                    <span>Manage User</span></a></li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/operator/list}"><i
                        class="fa fa-mobile-phone"></i> <span>Manage Operator</span></a></li>
                <li><a th:href="@{/profile}"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
                <li><a th:href="@{/docapi}"><i class="fa fa-book"></i> <span>Api Documentation</span></a></li>
                <li><a href="log_out"><i class="fa fa-sign-out"></i> <span>Log Out</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header" layout:fragment="breadcrumb">

        </section>
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content" layout:fragment="content">Di sini content utama</section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2018 <a href="#"></a></strong>
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
<!--Bootstrap Select-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
            $(document).ready(function () {

                $(function () {
                    $(".datepicker").datepicker({
                        todayBtn: "linked",
                        autoclose: true,
                        todayHighlight: true

                    });
                });
            });


</script>
</body>

</html>