<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">SMS CRM Telkom</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="#" th:href="@{/css/select2.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/select2-bootstrap.min.css}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css"/>
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <!-- DataTables -->
    <link rel="stylesheet" href="#" th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>

    <!--Bootstrap Select-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="#" th:src="@{/js/app.min.js}"></script>
    <script src="#" th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script src="#" th:src="@{/js/select2.full.min.js}"></script>
    <script src="#" th:src="@{/js/region.js}"></script>

 <!--   <script src="#" th:src="@{/dist/js/adminlte.min.js}"></script> -->

</head>

<body class="hold-transition skin-red-light sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a th:href="@{/}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S</b>MS</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SMS</b>CENTER</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/img/avatar5.png}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p><span sec:authentication="name"> </span></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> <span
                            sec:authentication="principal.authorities"></span></a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">PT TELEKOMUNIKASI INDONESIA</li>
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li id="sum_report" class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart"></i> <span>Summary Report</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/summary/ticket}"><i class="fa fa-circle-o"></i> Ticket Summary</a></li>
                        <li style="display:none"><a th:href="@{/summary/sms_ticket}"><i class="fa fa-circle-o"></i> SMS
                            Ticket Summary</a></li>
                        <li><a th:href="@{/summary/sms}"><i class="fa fa-circle-o"></i> SMS Summary</a></li>
                        <li><a th:href="@{/summary/reply}"><i class="fa fa-circle-o"></i> Reply Summary</a></li>
                        <li style="display:none"><a th:href="@{/summary/tagihan}"><i class="fa fa-circle-o"></i> Tagihan
                            SMS</a></li>
                    </ul>
                </li>
                <li id="report" class="treeview">
                    <a href="#">
                        <i class="fa fa-file-excel-o"></i> <span>Detail Report</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/report/active}"><i class="fa fa-circle-o"></i> Active Resolved Ticket</a>
                        </li>
                        <li><a th:href="@{/report/archive}"><i class="fa fa-circle-o"></i> Archive Resolved Ticket</a>
                        </li>
                        <li><a th:href="@{/report/smsopen}"><i class="fa fa-circle-o"></i> SMS Open</a></li>
                        <li><a th:href="@{/report/labassign}"><i class="fa fa-circle-o"></i> SMS Lab Assign</a></li>
                        <li><a th:href="@{/report/gamasopen}"><i class="fa fa-circle-o"></i> SMS Gamas Open</a></li>
                        <li><a th:href="@{/report/gamasclose}"><i class="fa fa-circle-o"></i> SMS Gamas Close</a></li>
                        <li><a th:href="@{/report/others}"><i class="fa fa-circle-o"></i> SMS Others</a></li>
                        <li><a th:href="@{/report/mosuccess}"><i class="fa fa-circle-o"></i> MO Success</a></li>
                        <li><a th:href="@{/report/mofailed}"><i class="fa fa-circle-o"></i> MO Failed</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/users/list}"><i class="fa fa-users"></i>
                    <span>Manage User</span></a></li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/operator/list}"><i
                        class="fa fa-mobile-phone"></i> <span>Manage Operator</span></a></li>
                <li style="display:none;"><a th:href="@{/profile}"><i class="fa fa-user"></i>
                    <span>My Profile</span></a></li>
                <li><a th:href="@{/docapi}"><i class="fa fa-book"></i> <span>Api Documentation</span></a></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> <span>Log Out</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header" layout:fragment="breadcrumb">

        </section>
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content" layout:fragment="content">Di sini content utama</section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2018<a href="https://www.infomedia.co.id"> PT Infomedia Nusantara</a>.</strong> All
        rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->

</div>

<!-- custom for load data-->
</body>
</html>
