<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Sms Lab Assign</title>

    <script src="#" th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script src="#" th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script language="JavaScript">
            $(document).ready(function () {

                $('#mytable').DataTable({
                  'paging'      : false,
                  'lengthChange': true,
                  'searching'   : false,
                  'ordering'    : false,
                  'info'        : false,
                  'autoWidth'   : true,
                  'scrollX' : true
                });

                $('li').removeClass('active');
                $('#report').addClass('active');


            });



    </script>


    <style>
            .noRight{
                padding-right : 0px;
            }

    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        Sms Lab Assign
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Report</a></li>
        <li class="active">Sms Lab Assign</li>
    </ol>

</div>
<div layout:fragment="content">
    <hr style="margin:0 0 5px 0;border-color:#d2d6de;"/>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <form th:action="@{/report/labassign}" method="get">
                <div class="input-group input-group-sm">
                    <div>
                        <div class="col-md-6 noRight">
                            <select id="q" name="q" class="form-control col-sm-6">
                                <option th:value="msisdn">MSISDN</option>
                                <option th:value="contentToCustomer">Content</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="value" class="form-control col-sm-6" placeholder="Search By Option"
                                   th:if="${key} == null"/>
                            <input type="text" name="value" class="form-control col-sm-6" placeholder="Search By Option"
                                   th:if="${key} != null" th:value="${key}"/>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr style="margin:5px 0 5px 0;border-color:#d2d6de;"/>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="mytable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>MSISDN</th>
                            <th>Sender ID</th>
                            <th>Content</th>
                            <th>Operator</th>
                            <th>Sent Date</th>
                            <th>Sent Status</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:each="sms :${smsList}">
                            <td th:text="${sms.id}"></td>
                            <td th:text="${sms.msisdn}"></td>
                            <td th:text="${sms.senderIdToCust}"></td>
                            <td th:text="${sms.contentToCustomer}"></td>
                            <td th:text="${sms.operator}"></td>
                            <td th:text="${sms.dateCreated}"></td>
                            <td th:if="${sms.sentStatus}==1" th:text="SENT"></td>
                            <td th:unless="${sms.sentStatus}==1" th:text="NOTSENT"></td>
                        </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div th:if="${not #lists.isEmpty(smsList)}">
                        <div class="text-center">
                            <nav>
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--/.col (left) -->
    <!-- right column -->
</div>

<script language="JavaScript">

 //$('#mytable')datatable();
 //alert('hi');


  $(function () {

  alert('hai');
/*
     */
  })

</script>

</body>
</html>