<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Sms Dashboard</title>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>
    <style>

        th {
            vertical-align: center;
            horizontal-align : center;
        }

    </style>
    <script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>


    <script language="JavaScript">

        function get_sms_sum(){

                 $('#spinner').show();


                 $.get( "/summary/sms/api", {date_range : $('#date_range').val() }, function( data ) {

                    var trHTML = '';

                    var total = 0;
                    var totalTrx = 0;

                    $.each(data, function(i, element){

                        total = element.smsOpen +  element.labAssign + element.resolved + element.smsGamasOpen + element.smsGamasClose + element.smsOthers;
                        totalTrx = element.smsOpenTrx +  element.labAssignTrx + element.resolvedTrx + element.smsGamasOpenTrx + element.smsGamasCloseTrx + element.smsOthersTrx;

                        trHTML = trHTML + '<tr><td>'+element.operator+'</td>';
                        trHTML = trHTML + '<td>'+element.senderId+'</td>';
                        trHTML = trHTML + '<td>'+element.smsOpenTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.smsOpen+'</td>';

                        trHTML = trHTML + '<td>'+element.labAssignTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.labAssign+'</td>';

                        trHTML = trHTML + '<td>'+element.resolvedTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.resolved+'</td>';

                        trHTML = trHTML + '<td>'+element.smsGamasOpenTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.smsGamasOpen+'</td>';

                        trHTML = trHTML + '<td>'+element.smsGamasCloseTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.smsGamasClose+'</td>';

                        trHTML = trHTML + '<td>'+element.smsOthersTrx+'</td>';
                        trHTML = trHTML + '<td>'+element.smsOthers+'</td>';

                        trHTML = trHTML + '<td>'+totalTrx+'</td>';
                        trHTML = trHTML + '<td>'+total+'</td></tr>';


                    });


                    $('#tbody-report').html(trHTML);

                     $('#spinner').hide();


            },"json");


        }


        function download(){

            $('#spinner').show();

            window.location="/summary/sms/download?date_range="+$('#date_range').val();

            $('#spinner').hide();

        }





         $(document).ready(function () {
                $('#date_range').daterangepicker(
                {
                    locale: {
                      format: 'YYYY-MM-DD'
                    }
                });

                get_sms_sum();

                $('li').removeClass('active');
                $('#sum_report').addClass('active');
        });

    </script>


</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        SMS Success Summary Report
    </h1>

</div>
<div layout:fragment="content">

    <div class="row">

        <div class="overlay" id="spinner" style="display:none;">
            <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="input-group col-md-10 pull-right">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="date_range"/>
                <div class="input-group-btn">
                    <button type="submit" onclick="get_sms_sum();" class="btn btn-default"><i class="fa fa-search"></i>
                    </button>
                    <button type="submit" onclick="download();" class="btn btn-default"><i
                            class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:5px 0 5px 0;border-color:#d2d6de;"/>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th rowspan="2">Operator</th>
                            <th rowspan="2">Sender ID</th>
                            <th colspan="2">SMS Open</th>
                            <th colspan="2">Lab Assign</th>
                            <th colspan="2">SMS Resolved</th>
                            <th colspan="2">Gamas Open</th>
                            <th colspan="2">Gamas Close</th>
                            <th colspan="2">Lain-lain</th>
                            <th colspan="2">Total</th>
                        </tr>
                        <tr>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                            <td>Trx</td>
                            <td>Count</td>
                        </tr>
                        </thead>
                        <tbody id="tbody-report">

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>

            </div>
        </div>

    </div>


</div>
</body>
</html>