<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Sms Dashboard</title>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>
    <script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>


    <script language="JavaScript">

        function get_ticket_sum(){

            $('#spinner').show();

            $.get( "/summary/ticket/api", {date_range : $('#date_range').val() }, function( data ) {

                 $('#ticket').text(data.countTicketNum);
                $('#answered_yes').text(data.answeredYes);
                $('#answered_no').text(data.answeredNo);
                $('#no_response').text(data.noResponse);

            },"json");

            $('#spinner').hide();

        }

         function download_ticket_sum(){

            $('#spinner').show();

            window.location="/summary/ticket/download?date_range="+$('#date_range').val();

            $('#spinner').hide();

        }




         $(document).ready(function () {
                $('#date_range').daterangepicker(
                {
                    locale: {
                      format: 'YYYY-MM-DD'
                    }
                });

                get_ticket_sum();

                $('li').removeClass('active');
                $('#sum_report').addClass('active');
        });

    </script>


</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>
        Ticket Summary Report
    </h1>

</div>
<div layout:fragment="content">

    <div class="row">
        <div class="overlay" id="spinner" style="display:none;">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="input-group col-md-10 pull-right">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="date_range"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" onclick="get_ticket_sum();"><i
                            class="fa fa-search"></i></button>
                    <button type="submit" onclick="download_ticket_sum();" class="btn btn-default"><i
                            class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:5px 0 5px 0;border-color:#d2d6de;"/>


    <div class="row">


        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><span id="ticket">0</span></h3>

                    <p>Today Ticket</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-pricetags-outline"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><span id="answered_yes">0</span></h3>

                    <p>Answered Yes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-thumbsup"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3><span id="answered_no">0</span></h3>

                    <p>Answered No</p>
                </div>
                <div class="icon">
                    <i class="ion ion-thumbsdown"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><span id="no_response">0</span></h3>

                    <p>No Answer</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-help-outline"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->


    </div>


</div>
</body>
</html>